.btn-holder {
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.version {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.img {
  max-width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.version-text {
  color: #8a8a8a;
  font-size: 12px;
  font-weight: 400;
}
.ajk {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: none;
}

@media screen and (max-width: 780px) {
  .ajk {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: block;
  }
}
