.bottom-navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 0px !important;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
}

.btn-menu {
  width: 100%;
  height: 60px !important;
  border: none !important;
  background-color: #ffffff !important;
  cursor: pointer;
}

.btn-menu:hover {
  width: 100%;
  max-height: 60px;
  border: none !important;
  background-color: #7126b5 !important;
}

.text {
  font-size: 12px;
  font-weight: 400;
  color: #8a8a8a;
}

@media (min-width: 781px) {
  .bottom-navigation {
    display: none !important;
  }
}
