/* .card {
    text-align: left;
    font-family: Helvetica;
    color: black;
    font-weight: 500;
    margin-bottom: 5px;
    width: 100%;
    justify-content: center;
    box-shadow: 10px;
    border-radius: 8px;
    margin: 15px;
}

@media screen and (max-width: 768px) {
    .card {
        align-items: center;
        margin: 2px;

    }
}

.image {
    width: 100%;
    margin-bottom: 20px;
}

.card .card-title {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
}

.card .card-text {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 500;
} */

/* #why-us .title-card h1 {
    font-family: Helvetica;
    font-weight: 600;
    text-align: left;
    margin-top: 100px;
    color: black;
    font-size: 32px;
  }
  
  #why-us .title-card p {
    font-family: Helvetica;
    font-weight: 500;
    text-align: left;
    margin-bottom: 50px;
    color: black;
    font-size: 16px;
  } */
  .card-product {
    /* min-width: 120px; */
    min-width: 100% !important;
    max-width: 270px !important;
    height: 100%;
    background-color: #ffffff;
    /* max-height: 270px; */
    padding: 8px;
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); */
    border-radius: 6px;
}
/* 
@media screen and (max-width: 768px) {
    .card-product {
        align-items: center;
        margin: 2px;

    }
} */
@media screen and (max-width : 768px){
    .css-zow5z4-MuiGrid-root>.MuiGrid-item {
        align-items: center;
        max-width: 100%;
        flex-grow: 1;
    }
}
