.padding {
    padding-top: 50px;
    display: block;
}

.hide {
    display: none;
}

.owl-item.active.center .slide-card {
    transform: scale(1);
    opacity: 1;
}

.slide-card {
    transform: scale(0.75);
    opacity: 0.7;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .padding {
        display: none;
    }

    .hide {
        display: block;
    }
}