.marginFilter {
    margin-left: 320px;
    margin-top: 40px;
}

.btn:active {
    background: "#7126B5";
    border-radius: "12px";
    border-color: "transparent";
    padding: "14px 24px";
    color: "#FFFFFF";
    margin-right: "16px";
}

@media screen and (max-width: 768px) {
    .marginFilter {
        margin-left: 16px;
        margin-top: -115px;
        margin-bottom: 20px;
    }

    .wrap {
        overflow-x: auto;
        flex-wrap: inherit !important;
    }
}