.carduser {
  height: fit-content;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  max-width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.arropenawar {
  display: none !important;
  position: absolute;
}

.btnDecision {
  border-radius: 50px;
  border: 2px solid #7126b5;
  background-color: rgb(255, 255, 255);
  color: #7126b5;
  width: 158px;
  font-weight: 500;
  padding: 5px 20px;
}

.btnDecision:hover {
  border-radius: 50px;
  border: 2px solid #7126b5;
  background-color: #7126b5;
  color: #ffffff;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* Modal Start */

.modal-size {
  max-width: 350px !important;
}

.modal-centered {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-style {
  border-radius: 16px !important;
}

.match-product-detail {
  width: 100%;
  height: fit-content;
  background-color: #eeeeee;
  border-radius: 16px;
  padding: 14px;
}

.modal-button-action {
  border-radius: 16px !important;
  border: none !important;
  background-color: #7126b5 !important;
  color: #ffffff;
  width: 100%;
  height: 48px !important;
  font-weight: 500;
  padding: 5px 20px;
}

/* Modal End */

@media only screen and (min-width: 0) and (max-width: 780px) {
  .btnDecision {
    width: 100%;
  }
}
