.logo {
    background-color: #7126B5;
    width: 100px;
    height: 35px;
    margin-left: 100px;
}

.navbar {
    width: 100%;
    display: flex;
    position: sticky;
    max-height: 50px;
    color: black;
    background-color: #FFFFFF;
    box-shadow: 10px;
}

.nav-shadow {
    box-shadow: 2px 2px 5px #CCCCCC; /* x, y, blur */
}

.header-button {
    background-color: #7126B5;
    border-radius: 5px;
    margin-left: 10px;
}