.add-product-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #d0d0d0;
  border-radius: 16px;
  cursor: pointer;
}

/* Radio Button Group Start */

.text-category {
  display: none;
}

.category-product-list {
  display: block !important;
  padding: 5px;
  display: flex;
  overflow-x: auto !important;
}

.category-product-list::-webkit-scrollbar {
  width: 0;
}

.button-group-custom {
  background-color: white !important;
  display: flex !important;
}

.btn-group-category {
  display: flex !important;
  justify-content: center;
  align-items: center;
  min-width: fit-content !important;
  max-width: fit-content !important;
  min-height: 48px;
  border-radius: 16px !important;
  background-color: #e2d4f0 !important;
  color: #000000 !important;
  font-weight: 400 !important;
  border: none !important;
  margin-right: 20px;
  padding: 0px 20px !important;
}

.right-arrow {
  display: none !important;
}

/* Radio Button Group End */
@media screen and (min-width: 992px) {
  .text-category {
    display: block;
  }

  .category-product-list {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 24px;
    margin-right: 40px;
    display: flex;
    overflow-x: auto !important;
  }

  .category-product-list::-webkit-scrollbar {
    width: 0;
  }

  .button-group-custom {
    display: block !important;
    background-color: white !important;
  }

  .btn-group-category {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    text-align: start !important;
    min-width: fit-content !important;
    max-width: 100% !important;
    min-height: 48px;
    padding: 16px 10px !important;
    border-color: #d0d0d0;
    border-radius: 2px !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    font-weight: 400 !important;
    margin-right: 0px;
  }

  .bb-category {
    border-bottom: 2px #d0d0d0 solid !important;
  }

  .right-arrow {
    display: block !important;
  }
}

.CardUser {
  /* width: 100%; */
  height: fit-content;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfoText {
  width: 100%;
}

.imgUser {
  max-width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}
